---
import PostTags from '~/components/blog/Tags.astro';
import Image from '~/components/common/Image.astro';

import { findImage } from '~/utils/images';
import type { ImageMetadata } from 'astro';

type Project = {
  title: string;
  link?: string;
  description?: string;
  tags: string[];
  image: string;
};

interface Props {
  project: Project;
}

const project = Astro.props.project;

const image = (await findImage(project.image)) as ImageMetadata | undefined;
---

<style>
  .project-card {
    max-width: 400px;
  }
</style>

<article class="project-card">
  {
    image && (
      <a class="" href={project.link ?? 'javascript:void(0)'}>
        <div class="  bg-gray-400 dark:bg-slate-700 rounded shadow-lg">
          {image && (
            <Image
              src={image}
              width="500"
              height="300"
              class="object-cover mb-6 rounded shadow-lg bg-gray-400 dark:bg-slate-700"
              alt="project image"
              loading="lazy"
            />
          )}
        </div>
      </a>
    )
  }
  <div class="mt-2">
    <header>
      <h2 class="text-xl sm:text-2xl font-bold leading-tight mb-2 font-heading dark:text-slate-300">
        {
          project.link ? (
            <a class="hover:text-primary dark:hover:text-blue-700 transition ease-in duration-200" href={project.link}>
              {project.title}
            </a>
          ) : (
            project.title
          )
        }
      </h2>
    </header>
    {project.description && <p class="flex-grow text-muted dark:text-slate-400 text-md">{project.description}</p>}
    <footer class="mt-5">
      <PostTags tags={project.tags} clickable={false} />
    </footer>
  </div>
</article>
